body,
    html {
    margin: 0;
    padding: 0;
    background: gray;
    color: black;
    font-size: 100%;
    font-family: Sans-serif;
}

div {
    padding: 0;
    margin: 0;
}

div#root {
    width: 50em;
    margin: 0 auto;
    padding: 1em;
    background: white;
}

h1 {
    color: green;
    font-size: 4em;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1em;
}

div#header {
    clear: both;
}

div#navigation {
    float: left;
    width: 10em;
}

#navigation ul {
    list-style: none;
}

#navigation li {
    margin: 0;
    padding: 0;
}

div#content {
    float: right;
    width: 40em;
}

div#footer {
    clear: both;
    text-align: center;
}

* html #footer {
    height: 1px;
}

#footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#footer li {
    display: inline;
    margin: 0;
    padding: 0;
}

a img {
    border: none;
}